<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IshikawaPm25" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Ishikawa PM2.5</a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <form class="form-inline" style="margin-bottom: 0px;">
               <p>日付を選ぶ</p>
               <div>
                 <select id="month" class="span4">
                   <option value="9">9</option> 
                   <option value="10">10</option> 
                 </select>
                 <span>月</span>
                 <select id="month" class="span4">
                   <option value="9">9</option> 
                   <option value="10">10</option> 
                 </select>
                 <span>日</span>
               </div>
               <p class="clearfix" style="margin-top: 20px;">
               <button class="btn span10 btn-primary" type="button">グラフを表示</button>
               </p>
            </form>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
